#root {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

#main-header {
    grid-area: header;
}

#main-content {
    grid-area: content;
    background-color: #dddddd;
}

.main-content-wrapper {
    margin: 0 5%;
}

#main-footer {
    grid-area: footer;
}

/********************/
/*FIRST MEDIA QUERY*/
/******************/
@media screen and (min-width: 50rem){
    .main-content-wrapper {
        max-width: 160rem;
        padding: 0 5%;
        margin: auto;
    }
}