/*CART HEADER*/
.cart-header {
    display: flex;
    justify-content: space-between;
}

.cart-header-title {
    padding: 1rem;
}

.cart-icon, .cart-header-title > h2 {
    display: inline-block;
}

.cart-icon {
    color: #850000;
    font-size: 3rem;
    margin-right: 1.6rem;
}

/*We only hide the buttons, on the header, not footer*/
.cart-header > .cart-btn-wrapper {
    display: none;
}

.back-btn, .checkout-btn {
    cursor: pointer;
    display: block;
    width: 20rem;
    line-height: 5rem;
    padding: 0 .5rem;
    font-weight: bold;
    font-size: 1.8rem;
    transition: all .5s;
}

.back-btn {
    color: #666666;
    border: solid 1px #666666;
    background-color: #ffffff;
}

.back-btn:hover {
    background-color: #bbbbbb;
}

.checkout-btn {
    color: #ffffff;
    background-color: #a80000;
}

.checkout-btn:hover {
    background-color: #6d0c0c;
}

/*CART CONTENT*/
.purchase-headings {
    display: none;
}

.purchase {
    display: block;
    width: 100%;
    border-top: solid 1px #666666;
}

.purchase > section {
    padding: .75rem;
}

/*Purchase product*/
.purchase-product > * {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

.purchase-product .info {
    padding: .5rem;
}

.purchase-product .info span {
    display: block;
}

.purchase-product .name {
    font-weight: bold;
}

/*Purchase Quantity*/
.qty-handler {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

.qty-handler input {
    width: 6rem;
    font-weight: bold;
    padding: 1rem;
    border: solid 1px #000000;
}

#decrease-button, #increase-button  {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border: solid 1px #000000;
    cursor: pointer;
}

.remove-handler span {
    display: block;
    text-align: center;
    font-weight: bold;
}

.remove-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

#removeBTN {
    background-color: transparent;
    color: #303030;
    font-size: 1.8rem;
    font-style: italic;
    text-decoration: underline;
}

#removeBTN:hover {
    cursor: pointer;
    font-weight: bold;
    color: #6e6e6e;
}

/*Purchase Prices*/
.purchase-prices span {
    display: block;
    font-weight: bold;
}

/*CART FOOTER*/
.cart-footer {
    border-top: solid 1px #666666;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

/********************/
/*FIRST-MEDIA QUERY*/
/******************/
@media screen and (min-width: 40rem) {
    /*Show the purchase headings*/
    .purchase-headings {
        font-weight: bold;
        display: flex;
        justify-content: space-evenly;
    }

    /*Purchases are now 3-column*/
    .purchase {
        display: flex;
        justify-content: space-evenly;
    }
    
    .purchase > section {
        flex: 1;
    }

    /*Make the back and checkout-btns inline*/
    .checkout-btn, .back-btn {
        display: inline-block;
        margin-right: 1rem;
    }
}

/********************/
/*SECOND-MEDIA QUERY*/
/******************/
@media screen and (min-width: 60rem) {
    /*Show the cart-header buttons*/
    .cart-header > .cart-btn-wrapper {
        display: block;
        padding: 1rem;
    }
}