/*Intro-links section*/
.intro-links-section {
    background-color: #dddddd;
    padding: .5rem;
    font-size: 1.4rem;
    display: none;
}

.intro-links-section-inner {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.deliever-message {
    flex: 1 0 auto;
}

.inrto-links a {
    padding: 0 1rem;
}

.inrto-links a:hover {
    text-decoration: underline;
}

/*Page-Header*/
.page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: solid 2px #960000;
    padding: 1rem 0;
}

/*Page-Header > Logo-Header*/
.logo-header {
    width: 18%;
    padding: .5rem;
}

.logo-header img {
    margin: auto;
    text-align: center;
}

/*Page-Header > Search-Header*/
.search-header {
    width: 60%;
}

.search-header #search-form {
    width: 90%;
    border: solid 1px #555555;;
}

#search-form input {
    width: 90%;
    line-height: 3rem;
    padding: 1rem;
}

#search-form button {
    color: #960000;
    font-size: 2rem;
    background-color: transparent;
    width: 10%;
}

#search-form button:hover {
    cursor: pointer;
}

/*Page-Header > Cart-Header*/
.header-cart {
    width: 20%;
}

.header-cart .cart-header-info {
    display: none;
}

/*Media Query*/
@media screen and (min-width: 40rem) {
    .intro-links-section {
        display: block;
    }

    .logo-header {
        width: 20%;
    }

    .search-header {
        width: 50%;
    }

    .header-cart .cart-header-info {
        display: inline-block;
    }
}