.products-menu {
    margin-top: 1rem;
}

.products-menu-nav {
    display: block;
    width: 100%;
}

.products-menu-results {
    display: block;
    color: #444444;
    font-size: 2.2rem;
}

.products-menu-sort-options {
    display: block;
}

/*The Select Element*/
.sort-products-select {
    width: 20rem;
    height: 3rem;
    padding: .5rem;
    border: solid 1px #000000;
    margin-left: 1rem;
}

/*FIRST MEDIA QUERY*/
@media screen and (min-width: 40rem){
    .products-menu-results {
        display: inline-block;
        width: 60%;
    }
    
    .products-menu-sort-options {
        display: inline-block;
        width: 40%;
    }
}