#purchase-preview-model {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

#purchase-preview-panel {
    width: 80%;
    max-width: 100rem;
    height: 70%;
    max-height: 90rem;
    background-color: #dddddd;
}

/*The Header*/
.purchase-preview-header {
    padding: 1rem;
    border-bottom: solid 1px #666666;

    display: flex;
    justify-content: space-between;
}

.header-title > * {
    display: inline-block;
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 10%;
    font-size: 2rem;
}

/*The Body*/
.preview-body-img {
    display: inline-block;
    width: 40%;
    height: 100%;
    padding: .5rem;
}

.preview-body-img > img {
    margin: auto;
    height: 150px;
}

.preview-body-info {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding: 1rem;
}

.preview-body-info .price {
    display: block;
    font-weight: bold;
    color: #a00404;
}

.preview-body-total {
    display: block;
    padding: 1rem;
}

/*The Footer*/
.purchase-preview-footer {
    padding: 1rem;
    background-color: #555555;
}

.back-btn, .checkout-btn {
    cursor: pointer;
    display: block;
    width: 20rem;
    line-height: 5rem;
    padding: 0 .5rem;
    font-weight: bold;
    font-size: 1.8rem;
    transition: all .5s;
}

.back-btn {
    color: #666666;
    border: solid 1px #666666;
    background-color: #ffffff;
}

.back-btn:hover {
    background-color: #bbbbbb;
}

.checkout-btn {
    color: #ffffff;
    background-color: #a80000;
}

.checkout-btn:hover {
    background-color: #6d0c0c;
}

/*FIRST MEDIA-QUERY*/
@media screen and (min-width: 40rem) {
    #purchase-preview-panel {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    .preview-body-img {
        width: 20%;
    }
    
    .preview-body-info {
        width: 60%;
    }

    .preview-body-total {
        display: inline-block;
        width: 20%;
        vertical-align: top;
    }

    .purchase-preview-footer {
        display: flex;
        justify-content: space-evenly;
    }
}